<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="managerConfiguration" type="prepData_Business.Configuration.ManagerConfiguration, prepData_Business"/>
  </configSections>
  <managerConfiguration>
    <modules>
      <add name="SupportModule"/>
      <add name="IndividualModule"/>
      <add name="RiModule"/>
    </modules>
  </managerConfiguration>
</configuration>